<div class="bundle-box">
    <div class="row">
        <div class="col-md-8 items visible-md visible-lg">
            <div class="header">You might also be interested in</div>
            <div *ngFor="let item of bundleViewModel.items; let last = last" class="col-md-4">
                <a class="thumbnail">
                    <img [src]="item.image" alt = "Generic placeholder thumbnail">
                </a>
                <div class="title">{{item.title}}</div>
                <div class="platform">({{item.platform}})</div>
                <span *ngIf="!last" class="plus fa fa-plus-circle fa-lg"></span>
            </div>
        </div>
        <div class="col-md-4 bundle">
            <a href="#" class="thumbnail">
               <img [src]="bundleViewModel.bundle.image" alt = "Generic placeholder thumbnail">
            </a>
            <div class="title">{{bundleViewModel.bundle.title}} £{{bundleViewModel.bundle.price}} </div>
            <button class="btn btn-success buy-now">Buy Now</button>
        </div>
    </div>
</div>