<div class="bundle-box">
    <h3>You might also be interested in</h3>
    <div class="row">
        <div class="items  visible-md visible-lg">
            <div *ngFor="let item of bundleViewModel.items; let last = last" class="col-sm-6 col-md-3">
                <a class="thumbnail">
                    <img [src]="item.image" alt = "Generic placeholder thumbnail">
                </a>
                <div class="title">{{item.title}}</div>
                <div class="platform">({{item.platform}})</div>
                <span *ngIf="!last" class="plus fa fa-plus-circle fa-lg"></span>
            </div>
        </div>
        <div class="bundle">
            <div class="col-sm-6 col-md-3">
                <a href="#" class="thumbnail">
                    <img [src]="bundleViewModel.bundle.image" alt = "Generic placeholder thumbnail">
                </a>
                <div class="title">{{bundleViewModel.bundle.title}} £{{bundleViewModel.bundle.price}} </div>
                <button class="btn btn-success buy-now">Buy Now</button>
            </div>
        </div>
    </div>
</div>