.tradein-box {
  min-height: 50px;
  margin-top: 10px;
}

.tradein-container {
  position: relative;
}

.tradein-container img {
  height: auto;
  max-width: 100%;
}

.tradein-caption-overlap {
  position: absolute;
}

.tradein-caption {
  bottom: 0;
  width: 100%;
  padding: 0.15em 1em;
  font-weight: 600;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
}