.main {
  width: 100%;
  height: auto;
  padding: 12px;
  background-color: gainsboro;
}

.flag {
  padding: 10px;
  background-color: red;
}

.flag p {
  padding: 0;
  margin: 0;
  color: #fff;
}

.short_detail {
  padding-top: 20px;
  padding-bottom: 20px;
}

.short_detail p {
  margin: 0;
}

.val {
  text-align: right;
}

.btn_custom {
  width: 100%;
  text-transform: uppercase;
  border: none;
  border-radius: 0;
}

.condition {
  padding-bottom: 20px;
}

.delivery_info {
  width: 100%;
  height: 80px;
  margin-bottom: 16px;
  background-color: grey;
}

.btn_default {
  height: 50px;
}

.table {
  margin-bottom: 10px;
}

.mpk tr {
  width: 100%;
  height: 40px;
}

.mpk td {
  background-color: #fff;
}

.delivery-option-dialog {
  padding: 40px;
  margin: -15px;
  background-color: #f0f0f0;
}

.delivery-option-dialog table th {
  background-color: #c8c8c8;
}

.delivery-option-dialog .header {
  font-size: 1.5em;
  font-weight: bold;
}

.delivery-option-dialog .content {
  padding: 20px;
  margin-top: 20px;
  background-color: white;
  border: 1px solid #c0c0c0;
}

.delivery-option-dialog .more {
  margin-top: 30px;
  font-weight: bold;
}

@media only screen and (max-width: 786px) {
  .delivery-option-dialog {
    padding: 20px;
    margin: -15px;
    background-color: #f0f0f0;
  }

  .delivery-option-dialog .header {
    font-size: 1.1em;
    font-weight: bold;
  }
}