<header class="page-head">

  <div class="logo">
    <a class="icon" href="#">
          <span>GAME</span>
        </a>
  </div>

  <form class="search-form">
    <input type="text" class="search-box" placeholder="Search">
  </form>

  <div class="site-nav">
    <div class="nav-item"><span class="glyphicon glyphicon-user"></span> <span class="right-nav-item">Sign | Register</span></div>
    <div class="nav-item"><span class="glyphicon glyphicon-map-marker"></span> <span class="right-nav-item">Store Finder <span class="caret"></span> </span></div>
    <div class="nav-item"><span class="glyphicon glyphicon-shopping-cart"></span> <span class="right-nav-item">3 <span class="caret"></span> </span></div>
  </div>
</header>

