<div class="container-fluid">

  <app-header>
    MEH
  </app-header>

  <div class="content">
    <div class="row">
      <div class="col-md-4">
        <packshot></packshot>
        <important-info></important-info>
      </div>
      <div class="col-md-4 no-padding">
        <video-trailer></video-trailer>
        <screen-shot></screen-shot>
        <video-review></video-review>
        <loyalty></loyalty>
      </div>
      <div class="col-md-4 no-padding">
        <breadcrumb></breadcrumb>
        <buy-now></buy-now>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <customer-review></customer-review>
      </div>
      <div class="col-md-8 no-padding">
        <product-description></product-description>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <upsell></upsell>
      </div>
      <div class="col-md-8 no-padding">
        <bundle-items></bundle-items>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <trade-in></trade-in>
      </div>
      <div class="col-md-8 no-padding">
        <shoppers-viewed></shoppers-viewed>
      </div>
    </div>
  </div>

  <br>
  <br>
  <br>

  <gd-footer-panel class="footer">
    <gd-footer-tab title="Products, Services &amp; Marketplace" icon="shopping-cart">
      <h3>Our products</h3>
      <div>
        bla bla bla.
      </div>
    </gd-footer-tab>
    <gd-footer-tab title="Need help?" icon="question">
      <h3>Our services</h3>
      <div>
        Insert lots of links to help stuff
      </div>
    </gd-footer-tab>
    <gd-footer-tab title="Join our community" icon="users" [content]="footer1">
      Milllllllllions of them.
    </gd-footer-tab>

    <gd-footer-tab title="About GAME" icon="ellipsis-h">
      Game <span class="danger">is</span> amazing.
    </gd-footer-tab>
  </gd-footer-panel>
</div>