<div class="container-fluid">

  <app-header>
    MEH
  </app-header>

  <div class="content">
    <div class="row">
      <div class="col-md-4">
        <packshot></packshot>
        <important-info></important-info>
      </div>
      <div class="col-md-4 no-padding">
        <video-trailer></video-trailer>
        <screen-shot></screen-shot>
        <video-review></video-review>
        <loyalty></loyalty>
      </div>
      <div class="col-md-4 no-padding">
        <breadcrumb></breadcrumb>
        <buy-now></buy-now>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <customer-review></customer-review>
      </div>
      <div class="col-md-8 no-padding">
        <div class="row">
          <div class="preown-header">
            How we grade our phones - a handy guide
          </div>
          <div class='flex-container'>
            <div class='flex-item'>
              <div class="preown-title"> Pre-Owned - AS NEW</div>
              <div>
                Is allowance instantly strangers applauded discourse so. Separate entrance welcomed sensible laughing why one moderate shy.
                We seeing piqued garden he. As in merry at forth least ye stood. And cold sons yet with. And produce say
                the ten moments parties. Simple innate summer fat appear basket his desire joy. Outward clothes promise at
                gravity do excited.
              </div>
            </div>
            <div class='flex-item'>
              <div class="preown-title"> Pre-Owned - GOOD</div>
              <div>
                Barton waited twenty always repair in within we do. An delighted offending curiosity my is dashwoods at. Boy prosperous increasing
                surrounded companions her nor advantages sufficient put. John on time down give meet help as of. Him waiting
                and correct believe now cottage she another. Vexed six shy yet along learn maids her tiled. Through studied
                shyness evening bed him winding present. Become excuse hardly on my thirty it wanted
              </div>
            </div>
            <div class='flex-item'>
              <div class="preown-title"> Pre-Owned - FAIR</div>
              <div>
                Full he none no side. Uncommonly surrounded considered for him are its. It we is read good soon. My to considered delightful
                invitation announcing of no decisively boisterous. Did add dashwoods deficient man concluded additions resources.
                Or landlord packages overcame distance smallest in recurred. Wrong maids or be asked no on enjoy. Household
                few sometimes out attending described. Lain just fact four of am meet high.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <upsell></upsell>
      </div>
      <div class="col-md-8 no-padding">
        <bundle-items></bundle-items>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <trade-in></trade-in>
      </div>
      <div class="col-md-8 no-padding">
        <shoppers-viewed></shoppers-viewed>
      </div>
    </div>
  </div>

  <br>
  <br>
  <br>

  <gd-footer-panel class="footer">
    <gd-footer-tab title="Products, Services &amp; Marketplace" icon="shopping-cart">
      <h3>Our products</h3>
      <div>
        bla bla bla.
      </div>
    </gd-footer-tab>
    <gd-footer-tab title="Need help?" icon="question">
      <h3>Our services</h3>
      <div>
        Insert lots of links to help stuff
      </div>
    </gd-footer-tab>
    <gd-footer-tab title="Join our community" icon="users" [content]="footer1">
      Milllllllllions of them.
    </gd-footer-tab>

    <gd-footer-tab title="About GAME" icon="ellipsis-h">
      Game <span class="danger">is</span> amazing.
    </gd-footer-tab>
  </gd-footer-panel>
</div>