.video-box {
  min-height: 50px;
}

.video-container {
  position: relative;
}

.video-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  padding: 0.15em 1em;
  font-weight: 600;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  opacity: 1;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.video-message {
  padding: 0.15em 1em;
  font-weight: 600;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 1;
}

@media only screen and (max-width: 2000px) {
  .video-image {
    width: 618px;
  }
}

@media only screen and (max-width: 1366px) {
  .video-image {
    width: 440px;
  }
}

@media only screen and (max-width: 1300px) {
  .video-image {
    width: 405px;
    height: 230px;
  }
}

@media only screen and (max-width: 1024px) {
  .video-image {
    width: 325px;
    height: 180px;
  }
}

@media only screen and (max-width: 786px) {
  .video-box {
    margin-top: 20px;
  }
}

