.video-box {
  min-height: 50px;
}

.video-container {
  position: relative;
  margin-top: 55px;
}

.video-container img {
  height: auto;
  max-width: 100%;
}

.video-caption-overlap {
  position: absolute;
}

.video-caption {
  bottom: 0;
  width: 100%;
  padding: 0.15em 1em;
  font-weight: 600;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
}

@media only screen and (max-width: 786px) {
  .video-box {
    margin-top: 20px;
  }
}

